option_settings:
  - option_name: AWS_SNS_TOPIC_ARN
    value: 'arn:aws:sns:us-east-1:330693592718:x22232991-sns-topic'
  - option_name: AWS_DEFAULT_REGION
    value: us-east-1
  - option_name: AWS_BUCKET
    value: cpp-s3-laravel
  - option_name: AWS_LAMBDA_NAME
    value: laravelmail
  - option_name: FLIGHT_API_KEY
    value: dbfcdd77famsh9459b8b688e207ap14bc90jsn352555900c60
  - option_name: FLIGHT_API_URL
    value: timetable-lookup.p.rapidapi.com
  - option_name: REDIS_CLIENT
    value: predis
  - option_name: REDIS_HOST
    value: 'airports.7klrft.ng.0001.use1.cache.amazonaws.com'
  - option_name: REDIS_PREFIX
    value: LARACACHEAWS_
